<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    {% include 'bootstrapcss.html' %}
</head>
<body>
    {% include 'Navbar.html' %}
    <section>
        <div class="formulario">
            <div class="titulo">
                <h1>Ingresa tus datos</h1>
            </div>
            <div class="datos">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre </label>
                        <input type="text" id="Nombre"  class="form-control" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Ingresa tu telefono">
                    </div>
                    <div class="form-group">
                        <select name="conocimiento" class="form-control" id="conocimiento"></select>
                    </div>
                    <div class="form-group">
                        <select name="modelos" class="form-control" id="modelos"></select>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Dejanos tu mensaje</label><br>
                        <textarea name="mensaje" class="form-control" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" value="">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="informacion">
            <div class="titulo">
                <h1>Informacion</h1>
                <!--Agregar redes sociales, numeros, telefonos-->
            </div>
        </div>
    </section>
    <!--JS BOOTSTRAP-->
    {% include 'bootstrapjs.html' %}
    <script>
        //Cargar combo box para saber como llego a la plagina
        function ComoNosConocio(){
            let opcionesArray = ["Google","Redes Sociales(facebook, instagram, Twitter)","Via Publica", "Otra opcion"];
            let conocimiento = document.getElementById("conocimiento");

            for (let i = 0; i < opcionesArray.length; i++) {
                //falta agregar valor a casda opcion
                conocimiento.innerHTML += "<option>" + opcionesArray[i] + "</option>"
                
            }

        }

        function CargarModelos(){
            let modelosArray = ["casa1","casa2","casa3"];
            let modelos = document.getElementById("modelos");

            for (let i = 0; i < modelosArray.length; i++) {
                //faltan agregar el valor a cada opcion
                modelos.innerHTML += "<option>" + modelosArray[i] + "</option>";
                
            }
        }
        CargarModelos();
        ComoNosConocio();
    </script>
</body>
</html>