<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas prefabricadas</title>
    <link rel="stylesheet" href="../static/css/index.css">
    {% include 'bootstrapcss.html' %}
</head>
<body>

    <header>
        {% include "Navbar.html" %}
        {% include "Carousel.html" %}
    </header>
    <br><br>
    <section class="destacadas">
      <div class="card-deck">
          <div class="card">
            <img src="../static/imagenes/destacadas/atacama.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
  
          </div>
          <div class="card">
            <img src="../static/imagenes/destacadas/ohiggins.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kit de autoconstruccio</h5>
              <p class="card-text">Venta de Casas prefabricadas o modulares por paneles, de facil y rapido armado por el cliente.</p>
            </div>
            
          </div>
          <div class="card">
            <img src="../static/imagenes/destacadas/papudo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estructuras de Acero Galvanizado</h5>
              <p class="card-text">Si tienes un proyecto en mente, contáctanos y en conjunto lo desarrollamos, ya sea <br>
                en casas prefabricadas Metalcon o casas prefabricadas vulcometal</p>
            </div>
           
          </div>
        </div>
  </section>

    <section class="portafolio">
      <div  class="info-port">
        <h1>Conoce nuestro trabajo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione ad nisi id rerum repellat minima vel distinctio. <br>
           Ad voluptatibus sunt deleniti odio magni quaerat a hic enim et vero?Omnis qui illo eligendi quas mollitia ea accusantium <br>
            recusandae. Libero quia ducimus blanditiis similique nulla. Laudantium quae corrupti illo voluptatibus. <br>
            Veniam enim quaerat ipsa quidem, aliquid alias necessitatibus omnis rem.
        </p>
        <div align="center">
          <button type="button" class="btn btn-success">Portafolio</button>
        </div>
      </div>

      <br><br><br>
      <!--<div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.0991836115486!2d-70.63246734875331!3d-33.524806808624824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662da86f4bdc797%3A0x8348ef7a2a4e136!2sSta%20Ana%20308%2C%20La%20Granja%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1604879563314!5m2!1ses!2scl" width="1630" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>-->
    </section>
    <footer>
      <div class="p-3 mb-2  text-white">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              logo empresa 
            </div>
            <div class="col-sm">
              <ul>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Obras</li>
                <li>Donde estamos</li>
              </ul>
            </div>
            <div class="col-sm">
              <p>
                Santa Ana 0308,La Granja,Santiago,Chile. <br>
                +569 2 2511 8222 <br>
                +56 9 5805 6559 <br>               
                ventas@empresa.cl
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    


    <!---Scripts bootstrap-->
    {% include 'bootstrapjs.html' %}
</body>
</html>