<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas prefabricadas</title>
    <link rel="stylesheet" href="../static/css/index.css">
    {% include 'bootstrapcss.html' %}
</head>
<body>

    <header>
        {% include "Navbar.html" %}
        {% include "Carousel.html" %}
    </header>
    <section>
        <div class="card-deck">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
    </section>
    <section>
        <h1>Conoce nuestro trabajo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione ad nisi id rerum repellat minima vel distinctio. Ad voluptatibus sunt deleniti odio magni 
            quaerat a hic enim et vero?Omnis qui illo eligendi quas mollitia ea accusantium recusandae. Libero quia ducimus blanditiis similique nulla. 
            Laudantium quae corrupti illo voluptatibus. Veniam enim quaerat ipsa quidem, aliquid alias necessitatibus omnis rem.
        </p>
        <button>Portafolio</button>
    </section>
    <footer>
        
    </footer>
    


    <!---Scripts bootstrap-->
    {% include 'bootstrapjs.html' %}
</body>
</html>