<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'bootstrapcss.html' %}
</head>
<body>
    {% include 'Navbar.html' %}

    <section>
        <div class="presentacion">
            <div class="logo">
                <!--Se debe agregar una foto representativa de la empresa-->
            </div>
            <div class="info-presentacion">
                <div class="titulo">
                    <h1>TITULO</h1>
                </div>
                <div class="texto">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet placeat delectus quasi! Nobis sapiente cupiditate eos temporibus architecto? Non possimus modi quisquam voluptatum asperiores dolorum dolorem ea odio labore impedit.Animi ratione dolorem beatae praesentium perspiciatis necessitatibus ullam. Deserunt itaque debitis ipsa, perferendis hic ullam molestiae dolores laborum, ducimus earum at asperiores fuga ex ab? Vero, explicabo. Doloremque, corrupti error.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto architecto aliquid possimus voluptate ea, officiis cumque ipsam molestiae, nobis libero aut labore amet neque repellat nam quos veritatis velit fugiat.</p>
                </div>
                <div class="portafilio">
                    <button id="portafolio-btn">Portafolio</button>
                </div>
            </div>
        </div>
    </section>
    <!--Script bootstrap-->
    {% include 'bootstrapjs.html' %}
</body>
</html>